:root {
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --button-hover: #188CE8;
  --primary-text-color: #757575;
  --primary-white-color: #FFFFFF;
  --bg-hero-footer: #2F303A;
  --primary-bg-color: #F5F5F5;
  --bg-button-team: #F5F4FA;
  --link-color-foot: rgba(255, 255, 255, 0.6);
  --logo-color-prim: #000000;
  --border-color: #ECECEC;
  --social-link-color: #AFB1B8;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.nav {
  background-color: red;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-prim);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.web {
  color: var(--accent-color);
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}

.heder-link:hover,
.heder-link:focus {
  color: var(--accent-color);
}

.heder-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.menu-nav .heder-link.current {
  color: var(--accent-color);
}

.menu-nav .item:not(:last-child) {
  margin-right: 50px;
}

.authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.authentication .item + .item {
  margin-left: 30px;
}

.list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heder-link {
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hed-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.heder-link.current {
  position: relative;
}

.heder-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-radius: 3px;
  background-color: var(--accent-color);
  width: 100%;
  height: 5px;
}

.hed-link:hover,
.hed-link:focus {
  color: var(--accent-color);
}

.hed-link:hover .envelope,
.hed-link:focus .envelope {
  fill: var(--accent-color);
}

.envelope {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.hed-link:hover .smartphone,
.hed-link:focus .smartphone {
  fill: var(--accent-color);
}

.smartphone {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.hero {
  background: var(--bg-hero-footer);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hw-four/back-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hw-four/back-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-transition: background-color var(--anim-fast), color var(--anim-fast);
  transition: background-color var(--anim-fast), color var(--anim-fast);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-title {
  display: none;
}

.features-list_subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}
.features-list_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.features-list_item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features-list_item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list_item {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .features-list_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-button-team);
  margin-bottom: 30px;
  height: 120px;
}

@media screen and (max-width: 768px) {
  .section-work {
    display: none;
  }
}

.section-work {
  padding-bottom: 94px;
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-img .item:not(:last-child) {
  margin-right: 30px;
}

.work-position {
  position: relative;
}

.work-position::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  background: rgba(47, 48, 58, 0.8);
}

.position-item {
  left: 107px;
  position: absolute;
  bottom: 27px;
}

.position-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team {
  background: var(--bg-button-team);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list .item {
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list .item {
    width: 354px;
    gap: 30px;
  }
}

.team-title {
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--anim-fast), color var(--anim-fast);
  transition: background-color var(--anim-fast), color var(--anim-fast);
}

.social-icon {
  fill: var(--social-link-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-white-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.customers_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .customers_title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 480px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
.customers-list_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  -webkit-transition: border var(--anim-fast);
  transition: border var(--anim-fast);
}
@media screen and (min-width: 480px) {
  .customers-list_link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers-list_link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list_link {
    width: 170px;
  }
}
.customers-list_icon {
  fill: var(--social-link-color);
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}
.customers-list_link:hover, .customers-list_link:focus {
  border: 1px solid var(--accent-color);
}
.customers-list_link:hover .customers-list_icon, .customers-list_link:focus .customers-list_icon {
  fill: var(--accent-color);
}

.footer {
  background: var(--bg-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
  height: 28px;
  margin-top: 60px;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer-web {
  color: var(--accent-color);
}

.footer-nav {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7114;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.foot-link {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7114;
  letter-spacing: 0.03em;
  color: var(--link-color-foot);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.tel-link {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7114;
  letter-spacing: 0.03em;
  color: var(--link-color-foot);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.foot-link:hover,
.foot-link:focus {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.foot-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 41px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .foot-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.foot-social {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-foot {
  fill: var(--primary-white-color);
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

/* footer button */
.form-btn {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-weight: 700;
  width: 200px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--button-hover);
}

.footer-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 20px;
  display: inline-block;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.subscribe_in {
  min-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  color: var(--primary-white-color);
  padding: 15px 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe_in {
    width: 358px;
  }
}
.subscribe_holder {
  position: absolute;
  top: 15px;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe_in:focus {
  border-color: var(--accent-color);
}
.subscribe_in:focus + .subscribe_holder {
  -webkit-transform: translate(-1.1rem, -2ex) scale(70%);
          transform: translate(-1.1rem, -2ex) scale(70%);
}
.subscribe_in:not(:-moz-placeholder-shown) + .subscribe_holder {
  transform: translate(-1.1rem, -2ex) scale(70%);
}
.subscribe_in:not(:-ms-input-placeholder) + .subscribe_holder {
  transform: translate(-1.1rem, -2ex) scale(70%);
}
.subscribe_in:focus + .subscribe_holder, .subscribe_in:not(:placeholder-shown) + .subscribe_holder {
  -webkit-transform: translate(-1.1rem, -2ex) scale(70%);
          transform: translate(-1.1rem, -2ex) scale(70%);
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  -webkit-transition: background-color var(--anim-fast);
  transition: background-color var(--anim-fast);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--button-hover);
}

.footer-btn-img {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.checkbox-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  gap: 9px;
}

.box-in:checked + .checkbox-icon .icon-checked {
  opacity: 1;
}

.box-in:checked + .checkbox-icon .icon-unchecked {
  opacity: 0;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.check-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 9px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
  opacity: var(--anim-fast);
}

.modal-btn {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 14px;
  right: 14px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--anim-fast);
  transition: var(--anim-fast);
}

.vector {
  margin: 8px;
}

.modal-btn:hover {
  fill: var(--accent-color);
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0px 0px 12px;
}

.register-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.form-name {
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 42px;
  -webkit-transition: var(--anim-fast);
  transition: var(--anim-fast);
  outline: transparent;
}

.form-input:hover {
  border-color: var(--accent-color);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-tel {
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-mail {
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-comment {
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.textarea-comment {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-comment:hover,
.textarea-comment:focus {
  border-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */