.modal {
	border-radius: 4px;
	min-height: 581px;
	max-width: 450px;
	padding: 20px;
	background-color: $primary-bg-color;
	box-shadow: $card-shadow;
	transition: transform 250ms $timing-function;

	@media screen and (max-width: 479px) {
		position: relative;
		transform: translate(0%, 0%) scale(1) rotate(360deg);
	}

	@media screen and (min-width: 480px) {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 450px;
		padding: 40px;
		transform: translate(-50%, -50%) scale(1) rotate(360deg);
	}

	@media screen and (min-width: 1200px) {
		min-width: 528px;
	}
}

.modal__button-close {
	position: absolute;
	top: -8px;
	right: -8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	margin-left: auto;
	cursor: pointer;
	background-color: $primary-white-color;
	transition: fill 250ms $timing-function, border-color 250ms $timing-function;

	@media screen and (min-width: 480px) {
		top: 8px;
		right: 8px;
	}

	&:hover,
	&:focus {
		fill: $accent-text-color;
		border-color: $accent-text-color;
	}
}

.modal__title {
	margin: 0px 0px 12px 0px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: $title-text-color;
}