.header {
	border-bottom: 1px solid $outline-color;
}

.header__container {
	@extend %container;
	display: flex;
	align-items: center;
}

.header__nav {
	align-items: center;

	@media screen and (min-width: 768px) {
		display: flex;
	}
}

.header__logo {
	display: block;
	padding: 16px 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: calc(28 / 24);
	color: $accent-text-color;

	@media screen and (max-width: 767px) {
		max-width: 134px;
	}

	@media screen and (min-width: 768px) {
		margin-right: 87px;
	}

	@media screen and (min-width: 1200px) {
		max-width: 145px;
		font-size: 26px;
		line-height: 1.19;
	}
}

.header__logo-studio {
	color: $primary-black-color;
}