.burger-menu__nav {
	@extend %list;
}

.burger-menu__nav-item:not(:last-child) {
	margin-bottom: 32px;
}

.burger-menu__nav-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: calc(47 / 40);
	letter-spacing: 0.02em;
	color: $title-text-color;
	transition: color 150ms $timing-function;

	&--current {
		color: $accent-text-color;
	}

	&:hover,
	&:focus {
		color: $accent-text-color;
	}
}

.burger-menu__nav-link--current:hover,
.burger-menu__nav-link--current:focus {
	color: $title-text-color;
}

.burger-menu__contacts {
	@extend %list;
	margin-top: auto;
	margin-bottom: 64px;
}

.burger-menu__contacts-item:not(:last-child) {
	margin-bottom: 32px;
}

.burger-menu__contacts-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: calc(28 / 24);
	letter-spacing: 0.02em;
	color: $primary-text-color;
	transition: color 150ms $timing-function;

	&:hover,
	&:focus {
		color: $accent-text-color;
	}
}

.burger-menu__contacts-link--current {
	font-size: 34px;
	line-height: calc(40 / 34);
	color: $accent-text-color;

	@media screen and (max-width: 380px) {
		font-size: 27px;
	}

	&:hover,
	&:focus {
		color: $primary-text-color;
	}
}

.burger-menu__socials {
	@extend %list;
	display: flex;
}

.burger-menu__socials-item:not(:last-child) {
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.burger-menu__socials-link {
	padding: 5px 10px;
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.02em;
	color: $accent-text-color;
	transition: color 150ms $timing-function;

	&:hover,
	&:focus {
		color: $primary-text-color;
	}

	@media screen and (min-width: 380px) {
		font-size: 14px;
		line-height: calc(14 / 12);
		justify-content: center;
	}

	@media screen and (min-width: 480px) {
		font-size: 18px;
		line-height: calc(22 / 18);
	}
}