.auth-nav__container {
	margin-left: auto;
}

.auth-nav {
	@extend %list;

	@media screen and (max-width:767px) {
		display: none;
	}

	@media screen and (min-width:768px) and (max-width:1199px) {
		display: flex;
		flex-direction: column;
		margin-top: auto;
		margin-bottom: auto;
	}

	@media screen and (min-width:1200px) {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}

.auth-nav__item:first-child {
	padding-top: 21px;
}

.auth-nav__link {
	display: block;
	padding: 5px;
	color: $primary-text-color;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color 250ms $timing-function;

	@media screen and (min-width:1200px) {
		padding: 32px 0px;
	}

	&:hover,
	&:focus {
		color: $accent-text-color;
	}
}

.auth-nav__icon {
	fill: $primary-text-color;
	transition: fill 250ms $timing-function;
	margin-right: 8px;

	.auth-nav__link:hover &,
	.auth-nav__link:focus & {
		fill: $accent-text-color;
	}
}