.checkbox-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	gap: 9px;
}

.box-in:checked+.checkbox-icon .icon-checked {
	opacity: 1;
}

.box-in:checked+.checkbox-icon .icon-unchecked {
	opacity: 0;
}

.icon-checked {
	opacity: 0;
	transition: opacity var(--anim-fast);
}

.icon-unchecked {
	opacity: 1;
	transition: opacity var(--anim-fast);
}

.check-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	user-select: none;
}

.checkbox-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--accent-color);
	text-decoration-line: underline;
	margin-left: 9px;
}