.staff {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $staff-bg-color;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.staff__container {
	@extend %container;
}

.staff__title {
	@extend %section-title;
	margin-bottom: 50px;
}

.staff-list {
	@extend %list;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.staff-list__item {
	max-width: 450px;
	box-shadow: $card-shadow;
	border-radius: 0px 0px 4px 4px;
	background-color: $primary-white-color;

	@media screen and (min-width: 768px) {
		width: 354px;
	}

	@media screen and (min-width: 1200px) {
		width: 270px;
	}

	&:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
}

.staff-meta-container {
	padding: 30px 32px;
}

.staff-meta-container__title {
	@extend %list-title;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.staff-meta-container__text {
	margin-top: 0;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.staff-socials-list {
	@extend %list;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.staff-socials-list__link {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms $timing-function;

	&:hover,
	&:focus {
		background-color: $accent-text-color;
	}
}

.staff-socials-list__icon {
	fill: $svg-icon-color;
	transition: fill 250ms $timing-function;

	.staff-socials-list__link:hover &,
	.staff-socials-list__link:focus & {
		fill: $primary-white-color;
	}
}