.work-list {
	padding-top: 0;
	padding-bottom: 94px;

	@media screen and (max-width: 1199px) {
		display: none;

	}
}

.work-list__container {
	@extend %container;
}

.work-list__title {
	@extend %section-title;
}

.work-img-list {
	@extend %list;
	display: flex;
	margin-top: 50px;
	gap: 30px;
}

.work-img-list__product-thumb {
	position: relative;
}

.work-img-list__product-thumb::before {
	content: '';
	width: 370px;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
	position: absolute;
	top: 224px;
}

.work-img-list__thumb-img-developing {
	@extend %thumb-img;
	left: 107px;
}

.work-img-list__thumb-img-aplication {
	@extend %thumb-img;
	left: 113px;
}

.work-img-list__thumb-img-box {
	@extend %thumb-img;
	left: 95px;
}

.work-img-list__img-text {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $primary-white-color;
}