.portfolio {

	&-button {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}

	&-button .item {
		margin-left: 8px;
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 30px;
	}

	&-title {
		display: none;
	}

	&-img {
		background: var(--primary-white-color)
	}

	&-subtitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		color: var(--title-text-color);
		margin-bottom: 4px;
	}

	&-text {
		font-size: 16px;
		line-height: 1.87;
		letter-spacing: 0.03em;
		color: var(--primary-text-color)
	}

	&-link {
		display: block;
	}

	&-link:hover .overlay-card,
	&-link:focus .overlay-card {
		transform: translateY(-100%);
	}

	&-list .item:hover,
	&-list .item:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}




.item-description {
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
	border-left: 1px solid #EEEEEE;
	;
	border-right: 1px solid #EEEEEE;
	;
	border-bottom: 1px solid #EEEEEE;
	;
}

.button {
	display: inline-block;
	border: none;
	padding-top: 6px;
	padding-right: 22px;
	padding-bottom: 6px;
	padding-left: 22px;
	border-radius: 4px;
	background: var(--bg-button-team);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	font-family: inherit;
	color: var(--title-text-color);
	transition: box-shadow var(--anim-fast),
	background-color var(--anim-fast),
	color var(--anim-fast);

	&:hover,
	&:focus {
		background: var(--accent-color);
		color: var(--primary-white-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}

.card {
	position: relative;
	overflow: hidden;
}

.overlay-card {
	position: absolute;
	background-color: rgba(33, 150, 243, 0.9);
	width: 370px;
	height: 294px;
	padding: 63px 24px;
	opacity: 1;
	transform: translateY(0%);
	transition: opacity var(--anim-fast), transform var(--anim-fast);

}

.text-overlay {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	color: var(--primary-white-color);
}

.subscribe_btn {
	display: -webkit-box;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-weight: 700;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: .06em;
		width: 200px;
		height: 50px;
		background-color: var(--accent-color);
		border: none;
		box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
		border-radius: 4px;
		color: var(--primary-white-color);
		transition: background-color var(--anim-fast);
}

.subscribe_img {
	margin-left: 10px;
	fill: var(--primary-white-color);
}

.subscribe-label {
	font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--primary-white-color);
		display: block;
		margin-bottom: 20px;
		display: inline-block;
}