.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $footer-bg-color;
}

.footer__container {
	@extend %container;
	align-items: baseline;

	@media screen and (min-width:768px) {
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
	}

	@media screen and (max-width:1199px) {
		text-align: center;
		justify-content: center;
	}

}

.address-container {

	@media screen and (min-width:768px) and (max-width:1199px) {
		width: 231px;
		margin-right: 165px;
		margin-bottom: 20px;
		text-align: center;
	}

	@media screen and (min-width:1200px) {
		width: 231px;
		margin-right: 70px;
	}
}

.footer__logo {
	font-family: 'Raleway';
	font-size: 26px;
	line-height: 1.19;
	color: $accent-text-color;

}

.footer__logo-studio {
	color: $primary-white-color;
}

.address {
	margin-top: 20px;

	@media screen and (max-width:767px) {
		margin-bottom: 60px;
	}
}

.address-list {
	@extend %list;
}

.address-list__item:not(:last-child) {
	margin-bottom: 9px;
}

.address-list__link {
	color: $primary-white-color;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	transition: color 250ms $timing-function;

	&:hover,
	&:focus {
		color: $accent-text-color;
	}
}

.address-list__link--grey {
	color: $adress-text-color;
}