
body {
	background-color: var(--primary-white-color);
	color: var(--title-text-color);
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;
}