
.customers {

	@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			justify-content: center;
	}
	// display: flex;
	// justify-content: center;
	// justify-content: space-between;@media screen and (min-width: 768px) {
			
	&_title {
    font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin-bottom: 50px;
	@media screen and (min-width: 768px) {
		margin-bottom: 30px;
	}
	}

	&_link {
	display: flex;
	width: 170px;
	height: 92px;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--social-link-color);
	border-radius: 4px;
	transition: border var(--anim-fast);
	@media screen and (min-width: 768px) {
		width: 226px;
	}
	}

	&_icon {
	fill: var(--social-link-color);
	transition: fill var(--anim-fast);
	}
	
	&_link:hover,
	&_link:focus {
	border: 1px solid var(--accent-color);
	}
	
	&_link:hover &_icon,
	&_link:focus &_icon {
	fill: var(--accent-color);
	}
}

.customers_item {
	@media screen and (min-width: 768px) {
		width: 226px;
	}
}
