
.features {
	@include section;

	@media screen and (min-width: 768px) {
		@include section;
	}

		@media screen and (min-width: 1200px) {
			@include section(94px);
		}
}
.features-title {
	display: none;
}



.features-list {
	@media screen and (min-width: 768px) {
		     width: 354px;
			display: flex;
			gap: 30px;
		}

	@media screen and (min-width: 1200px) {
		width: 270px;
		display: flex;
		flex-wrap: nowrap;
			gap: 30px;
	}

		

	&_item:not(:last-child) {
	margin-bottom: 30px;
	}

	
	&_subtitle {
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
	text-align: center;
	}
	
	&_text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7142;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	}
}
 
.features-box {
display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-button-team);
	margin-bottom: 30px;
	height: 120px;

}