.footer-subscribe {
	margin-left: auto;
}

.subscribe-label {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white-color);
	display: block;
	margin-bottom: 20px;

}

.subscribe {
	display: flex;
	position: relative;

	&_in {
			width: 358px;
			height: 50px;
			border: 1px solid rgba(255, 255, 255, 0.3);
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
			border-radius: 4px;
			margin-right: 12px;
			background-color: transparent;
			outline: transparent;
			color: var(--primary-white-color);
			padding: 15px 16px;
		}
	
		&_holder {
			position: absolute;
			top: 15px;
			left: 16px;
			font-weight: 400;
			font-size: 16px;
			line-height: calc(20/16);
			letter-spacing: 0.03em;
			color: rgba(255, 255, 255, 0.6);
		}
	
		&_in:focus {
			border-color: var(--accent-color);
		}
	
		&_in:focus + &_holder {
			transform: translate(-1.1rem, -2ex) scale(70%);
		}
	
		&_in:focus + &_holder,
		&_in:not(:placeholder-shown)+&_holder {
			transform: translate(-1.1rem, -2ex) scale(70%);
		}
	
		&_btn {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
	
	
			font-weight: 700;
			font-size: 16px;
			line-height: 30px;
			letter-spacing: 0.06em;
			width: 200px;
			height: 50px;
			background-color: var(--accent-color);
			border: none;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			color: var(--primary-white-color);
			transition: background-color var(--anim-fast)
		}
	
		&_btn:hover,
		&_btn:focus {
			background-color: var(--button-hover);
		}
	
		&_img {
			margin-left: 10px;
			fill: var(--primary-white-color);
		}
}

